agents/sdlc-poc/workflows/02-spec-to-code.json
{
  "id": "sdlc-poc-wf02",
  "name": "SDLC PoC 02 — Spec to Code",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdlc-poc-spec-to-code",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "b2c3d4e5-0002-0000-0000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const DEV_PROMPT = `You are a senior software engineer implementing a feature from a PRD.\n\nGiven a PRD, produce working Python code that implements ALL functional requirements.\n\nRules:\n- Use FastAPI for HTTP endpoints\n- Use Pydantic v2 for data models\n- Include a basic in-memory store if no database is specified\n- Write one file per logical component: models.py, routes.py, main.py\n- Include a test file: test_main.py using pytest and httpx\n- Each file must start with a comment: # FILE: <filename>\n- Do not use external databases or services unless the PRD requires them\n- All endpoints must return JSON\n- Include error handling for 404 and 422\n- Import pydantic directly: use 'from pydantic import BaseModel, Field', never 'from pydantic.v1 import' or 'from pydantic.v2 import'\n- For async httpx tests: use 'from httpx import AsyncClient, ASGITransport' and 'async with AsyncClient(transport=ASGITransport(app=app), base_url=\"http://test\") as client:', not the deprecated 'AsyncClient(app=app)'\n\nOutput format: produce each file separated by a line containing only \"---FILE---\".`;\n\nconst spec = $input.first().json.body?.spec || $input.first().json.spec || '';\nif (!spec) throw new Error('Missing required field: spec');\n\nconst bodyStr = JSON.stringify({\n  model: 'qwen2.5-coder:32b',\n  stream: false,\n  options: { temperature: 0.1 },\n  messages: [\n    { role: 'system', content: DEV_PROMPT },\n    { role: 'user', content: `PRD TO IMPLEMENT:\\n\\n${spec}` }\n  ]\n});\n\nreturn [{ json: { bodyStr, spec } }];"
      },
      "id": "b2c3d4e5-0002-0000-0000-000000000002",
      "name": "PrepareDevRequest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.bodyStr }}",
        "options": {"timeout": 600}
      },
      "id": "b2c3d4e5-0002-0000-0000-000000000003",
      "name": "CallOllama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "const rawCode = $input.first().json.message?.content || '';\n\nconst files = rawCode\n  .split('---FILE---')\n  .map(block => block.trim())\n  .filter(block => block.length > 0)\n  .map(block => {\n    const firstLine = block.split('\\n')[0];\n    const filenameMatch = firstLine.match(/# FILE: (.+)/);\n    return {\n      filename: filenameMatch ? filenameMatch[1].trim() : 'unknown.py',\n      content: block\n    };\n  });\n\nreturn [{ json: { files, fileCount: files.length, rawCode } }];"
      },
      "id": "b2c3d4e5-0002-0000-0000-000000000004",
      "name": "ParseFiles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { files: $json.files, fileCount: $json.fileCount } }}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0000-0000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "PrepareDevRequest", "type": "main", "index": 0 }]]
    },
    "PrepareDevRequest": {
      "main": [[{ "node": "CallOllama", "type": "main", "index": 0 }]]
    },
    "CallOllama": {
      "main": [[{ "node": "ParseFiles", "type": "main", "index": 0 }]]
    },
    "ParseFiles": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
